{% extends 'base.html' %}
{% load static %}
{% block main %}

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <div class="row">
            <!-- Фото -->
            <div class="col-md-6 mb-4">
                {% if product.cover_photo %}
                  <img src="{{ product.cover_photo.url }}" alt="{{ product.title }}" class="img-fluid">
                {% endif %}
            </div>
            <!-- Кнопки категорий -->
            <div class="col-md-6 mb-4">
                <div class="p-4">
                    <div class="mb-3">
                        <a href="#">
                            <span class="badge purple mr-1">Категория 2</span>
                        </a>
                        <a href="#">
                            <span class="badge blue mr-1">Новый!</span>
                        </a>
                        <a href="#">
                            <span class="badge red mr-1">Ограниченное предложение</span>
                        </a>
                    </div>
                    <h4><b>{{ product.title }}</b></h4>
                    <p class="lead">
{#                            <span class="mr-1">#}
{#                                <del>164 990 ₽</del>#}
{#                            </span>#}
                        <span class="mr-1">
                            <b>{{ product.price }} ₽</b>
                        </span>
                    </p>
{#                        <p class="lead font-weight-bold">Описание</p>#}
                    <ul>
                        <li>
                            <span><b>Фирма:</b>
                                {% for firm in product.firms.all %}
                                    {{ firm.name }}
                                {% endfor %}
                            </span>
                        </li>
{#                            <li>#}
{#                                <span><b>Тип:</b>#}
{#                                    {% for ProductType in product.producttypes.all %}#}
{#                                        {{ ProductType.name }}#}
{#                                    {% endfor %}#}
{#                                </span>#}
{#                            </li>#}
                        <li>
                            <span><b>Категория:</b>
                                {% for category in product.categories.all %}
                                    {{ category.name }}
                                {% endfor %}
                            </span>
                        </li>
                        <li><b>Страна:</b> {{ product.country }}</li>
                        <li><b>Время публикации:</b> {{ product.year }}</li>
                    </ul>

                    <form action="" class="d-flex justify-content-left">
                        <input type="number" value="1" aria-label="Search" style="width: 100px;" class="form-control">
                        <button type="submit" class="btn btn-primary btn-md my-0 p">Добавить в корзину
                        <i class="fa fa-shopping-cart ml-1"></i>
                        </button>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="row d-flex justify-content-center">
        <div class="text-center col-md-8">
            <h4 class="my-4 h4">Дополнительная информация</h4>
            <p>{{ product.description }}</p>
        </div>

        <div class="justify-content-center" style="max-width: 650px">
            {% for image in product.photo_set.all %}
                <img style="display: block; height: auto; max-width: 100%;"
                        src="{{ image.image.url }}" alt="{{ image.description }}">
                <br>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="row justify-content-center">

        <!-- Форма для отправки комментариев -->
        <div class="single-form-left">
            <div class="contact-single" style=" width: 90%;">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    Оставить отзыв
                </h3>
                <form action="{% url 'add_comment' product.id %}" method="post"
                      class="mt-4" id="formComment"> <!-- При написании ответа на коммент добавили сюда атрибут id -->
                    {% csrf_token %}  <!-- добавляем CSRF token защиты -->
                    <input type="hidden" name="parent" id="contactparent" value="">  <!-- Добавим поле для ввода, тип скрытый, здесь будем передавать id родительского отзыва -->
                    <div class="form-group editContent" style="outline: none; cursor: inherit;">
                        <label for="contactcomment" class="editContent" style="outline: none; cursor: inherit;">
                            Ваш комментарий *
                        </label>
                        <textarea class="form-control border" rows="5" id="contactcomment" required="" name="text"></textarea>
                    </div>
                    <div class="d-sm-flex">
                        <div class="col-sm-6 form-group p-0 editContent" style="outline: none; cursor: inherit;">
                            <label for="contactusername" class="editContent" style="outline: none; cursor: inherit;">
                                Имя *
                            </label>
                            <input type="text" class="form-control border" id="contactusername" required="" name="name">
                        </div>
                        <div class="col-sm-6 form-group ml-sm-3 editContent" style="outline: none; cursor: inherit;">
                            <label for="contactemail" class="editContent" style="outline: none; cursor: inherit;">
                                Email *
                            </label>
                            <input type="email" class="form-control border" id="contactemail" required="" name="email">
                        </div>
                    </div>
                    <button type="submit" class="mt-3 btn btn-success btn-block py-3" style="outline: none; cursor: inherit;">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
        <!-- // Форма для отправки комментариев -->

        <!-- Комментарии -->
        {% for comment in product.get_comment %}  <!-- Метод movie.get_review лежит в models.py -->
            <div class="media py-5 px-4" style=" width: 80%;">
                <img src="{% static 'img/man.jpg' %}" class="mr-3 img-fluid" alt="image" style="outline: none; cursor: inherit;">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent" style="outline: none; cursor: inherit;">
                        {{ comment.name }}
                    </h5>
                    <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                        {{ comment.text }}
                    </p>
                    <a href="#formComment" onclick="addComment('{{ comment.name }}', '{{ comment.id }}')">Ответить</a>  <!-- #formReview - id формы, при клике на ссылку будет подниматься к форме отправки отзыва. addReview = передадим имя и id пользователя, которому отвечаем -->
                    <!-- Вложенные омментарии -->
                    {% for comm in comment.comment_set.all %}
                        <div class="media mt-5 editContent" style="outline: none; cursor: inherit;">
                            <a class="pr-3" href="#">
                                <img src="{% static 'img/woman.jpg' %}" class="img-fluid " alt="image" style="outline: none; cursor: inherit;">
                            </a>
                            <div class="media-body">
                                <h5 class="mt-0 editContent" style="outline: none; cursor: inherit;">
                                    {{ comm.name }}
                                </h5>
                                <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                                    {{ comm.text }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- // Вложенные комментарии -->
                </div>
            </div>

        {% endfor %}
        <!-- // Комментарии -->

    </div>

    <script>
        function addComment(name, id) {  <!-- Функция принимает имя и id  -->
            document.getElementById("contactparent").value = id;  <!-- По id находим на странице поле parent, в его атрибут value добляем id, который к нам пришел -->
            document.getElementById("contactcomment").innerText = `${name}, `;  <!-- по id находим поле для отзыва и добавляем в него имя пользователя и запятую -->
        }
    </script>

</main>

{% endblock main %}